@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.theme-black {
  --bg-color: #000000;
  --text-color: #ffffff;
}

.theme-blue {
  --bg-color: #1e40af;
  --text-color: #ffffff;
}

.theme-white {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
